@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin-top: 10px;
    background-color: #3A72F8;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }


.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
.login-container h3 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.login-container .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;

}

.login-container label {
    display: block;
    margin-bottom: 5px;
    color: white;

}

.login-container input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.cadastro-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0A2668;
    color: #FFF;
    border-radius: 15px;
    text-decoration: none;
}

.cadastro-link:hover {
    background-color: #2655C4;
}
